:root {
  /* COLOR DEFINITIONS: */
  --darkest-color: #090942;
  --dark-color: #121280;
  --main-color:#2020E6;
  --light-color: #C2AF20;
  --lightest-color:#FFED63;
  /* FONT DEFINITIONS */
  --main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --h1-fontsize: 20px; 
  /* FORMATTING */
  --button-border-rad: 5px; 
}

* {
  margin: 0;
  padding: 0;
  transition-timing-function: ease-out;
  transition-duration: 150ms;
}

body {
  background-image: url(img/bg/tausta_1.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position-y: 70px;
  /*background-color: var(--body-bg-color, lightyellow);*/
  font-family: var(--main-font);
  color: var(--light-color, lightgray);
  /*padding: 15px;*/
  transition-timing-function: ease-out;
  transition-duration: 800ms;
}

.content {
  background: var(--dark-color, darkblue);
  margin: 350px 0px;
  padding: 10px 20px;
}

nav {
  background-color: var(--darkest-color, black);
  width: 100%;
  height: 50px;
}

/*website name */
nav p {
  display: block;
  color: var(--main-color, gray);
  font-size: 24px;
  line-height: 50px;
  float: left;
  padding: 0 20px;
}

nav ul {
  display: block;
}

nav ul li {
  background-color: var(--dark-color, darkblue);
  display: inline-block;
  list-style-type: none; /* no bullets */
  position: relative;
  font-weight: bold;
  font-size: 18px;
  float: left;
  padding: 0 10px;
}
nav ul li:hover {
  background-color: var(--lightest-color, cyan);
}
nav ul li a {
  background-color: var(--dark-color, darkblue);
  color: var(--light-color, black);
  line-height: 45px;
  float: left;
  padding: 0 20px;
}

/*Sub-menu*/
nav ul li ul{
  position: absolute;
  padding-left: 0px;
  margin-left: -5px;
  border-radius: 0px 0px 5px 5px;
}

/*sub-menu item*/
nav ul li ul li {
  display: none;
  background: none;
  overflow: hidden;
}
nav ul li:hover ul li{
  display: block;
} 


h1 {
  color: var(--light-color, gray);
  font-size: var(--h1-fontsize, 24px);
}

button {
  border-radius: var(--button-border-rad, 5px);
  color: darkblue;
}
button:hover {
  color: darkgreen;
  font-style: italic;
}
button:active {
  color: skyblue;
}

